name: MLflow CI Advanced

on:
  push:
    branches:
      - main

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Set up job
        run: echo "Starting CI job"

      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Check Env
        run: python --version

      - name: Install dependencies
        run: pip install mlflow==2.19.0

      - name: Run mlflow project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      - name: Get latest MLflow run id
        run: |
          cd MLProject
          RUN_ID=$(ls mlruns/0 | grep -v meta.yaml | tail -n 1)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Build Docker Model
        run: |
          cd MLProject
          mlflow models build-docker \
            -m runs:/$RUN_ID/model \
            -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tag Docker Image
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest

      - name: Post Log in to Docker Hub
        run: echo "Docker push completed"

      - name: Post Set up Python 3.12.7
        run: echo "Python environment cleaned"

      - name: Post Run actions/checkout@v3
        run: echo "Checkout completed"

      - name: Complete job
        run: echo "CI pipeline finished successfully"
